body {
 font-family: 'Oswald', sans-serif;
  color: black;
  padding: 0;
  margin: 0;
}

.base {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 20em;
}

header {
  background-color: #7dd8d6;
  padding: .5em 1em;
  
}

main {
  background-color: #66FFB2;
  width: 100%;
  box-sizing: border-box;
  order: 2;
  padding: .5em;
}


a {
	text-decoration: none;
	font-weight: 600;
	color: #E63838;
	display: inline-block;
}

.qstn {
    padding: 0 5px;
    font-weight: 700;
    width: 90%;
    border: 0px 5px solid #ccc;
    border-radius: 16px;
}

.left,
.right {
  background-color: #49b4e7;
  box-sizing: border-box;
  padding: .5em;
  margin: 0;
  width: 100%;
}

.left {
  order: 1;
}

.right {
  order: 3
}

.left ul {
  list-style: none;
  padding: 0;
}

.left li {
  padding: .2em;
  display: inline-block;
}

.aheader {
    background-image: url(aus.PNG);
    background-size: 100% 100%;
    color: aliceblue;
}


.underline {
	background-color: #E63838; /* same as link color */
	display: block;
	height: 2px;
	width: 100%;
	padding: 0;
  -webkit-transform: scaleX(0);
	transform: scaleX(0);
  -webkit-transition: all 0.25s;
	transition: all 0.25s;
}

a:hover .underline {
  -webkit-transform: scaleX(1);
	transform: scaleX(1);
}


@media screen and (min-width: 700px) {
  .base {
    display: block;
    height: calc(100vh - 8em);
    overflow-y: hidden;
    margin: 0;
  }
  main {
    position: relative;
    float: left;
    width: 100%;
    padding: .2em 13.5em;
    height: 100%;
  }
  .left {
    position: relative;
    float: left;
    margin-left: -100%;
    width: 12.5em;
    height: 100%;

  }
  .right {
    position: relative;
    float: right;
    margin-left: -100%;
    width: 12.5em;
    height: 100%;
    
  }
  
  .left li {
    display: block;
  }
  
  header {
    height: 6em;
  }
  footer {
    height: 2em;
  }
}